@keyframes appear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.img-hover{
  transition: 2s ease;
  
  &:hover{
  transform: rotate(20deg) scale(1.2);

  }
}


.animation {
  &:hover .initial {
    opacity: 1;
    transform: scale(1);
    filter: brightness(1.3);
  }

  &:hover .initial-text {
    opacity: 1;
    transform: scale(1);
    filter: brightness(1.3);
  }

  &:hover .delay-1{
    transition-delay: 0.2s;
  }
   &:hover .delay-2{
    transition-delay: 0.5s;
  }
   &:hover .delay-3{
    transition-delay: 1s;
  }

  &:not(:hover) .initial {
    opacity: 0;
    transform: scale(0.8);
    filter: brightness(0.8);
    transition-delay: 0s;
    
  }

  &:not(:hover) .initial-text {
    opacity: 0.4;
    transform: scale(0.8);
    filter: brightness(0.8);
    transition-delay: 0s;
  }
  
  
  &:not(:hover) .delay-1 {
    transition-delay: 1s;
  }
  &:not(:hover) .delay-2 {
    transition-delay: 0.5s;
  }
  &:not(:hover) .delay-3 {
    transition-delay: 0.2s;
  }
  

}

.initial {
  opacity: 0;
  filter: brightness(0.6);
  transform: scale(0.8);
  transition: 
  opacity 0.6s ease,
  transform 0.6s ease,
  filter 0.6s ease;
  transition-delay: 0s;
}

.initial-text {
  opacity: 0.2;
  filter: brightness(0.2);
  transform: scale(0.8);
  transition: 
  opacity 0.6s ease,
  transform 0.6s ease,
  filter 0.6s ease;
  transition-delay: 0s;
}

.azul {
  color: inherit;
  transition: color 0.6s ease;
}

.animation:hover .azul {
  color: var(--blue-light)
}

.delay-1 {
  transition-delay: 0.4s;
  }
.delay-2 {
  transition-delay: 1s;
}
.delay-3 {
  transition-delay: 1.5s;
}


@media (min-width: 80rem) {

.animation-price {
 & > div {
  transition: all 0.6s ease;
 }

&:hover {
  
    & .price-mensal {
    transform: translateX(-17rem) translateY(1.5rem) rotate(-9deg);  
   
    &.price:hover{
     transform: translateX(-17rem) translateY(1rem) rotate(-9deg) scale(1);  
     z-index: 9;
     & a:nth-of-type(1), a:nth-of-type(2) {
          transform: rotate(10deg) ;
         }
    }

   }

    & .price-semestral {
          transform: translateY(-2.5rem);   
         z-index: 1;

         &.price:hover{
         transform: translateY(-3rem);  
         
    }

   }
    & .price-anual {
    transform: translateX(17.25rem) translateY(1.5rem) rotate(9deg);

    &.price:hover{
      transform: translateX(17.25rem) translateY(1rem) rotate(9deg) scale(1);
      z-index: 9;
      & a:nth-of-type(3), a:nth-of-type(4) {
          transform: rotate(10deg);
         }
    }
    }
   }
}
  }

  .price {
    transition: all 1s ease;

    &:hover {
    background: var(--shape-hover);
  }
}




