@keyframes appear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.img-hover{
  transition: 2s ease;
  
  &:hover{
  transform: rotate(20deg) scale(1.2);

  }
}


.animation {
  &:hover .initial {
    opacity: 1;
    transform: scale(1);
    filter: brightness(1.3);
  }

  &:hover .initial-text {
    opacity: 1;
    transform: scale(1);
    filter: brightness(1.3);
  }

  &:hover .delay-1{
    transition-delay: 0.2s;
  }
   &:hover .delay-2{
    transition-delay: 0.5s;
  }
   &:hover .delay-3{
    transition-delay: 1s;
  }

  &:not(:hover) .initial {
    opacity: 0;
    transform: scale(0.8);
    filter: brightness(0.8);
    transition-delay: 0s;
    
  }

  &:not(:hover) .initial-text {
    opacity: 0.4;
    transform: scale(0.8);
    filter: brightness(0.8);
    transition-delay: 0s;
  }
  
  
  &:not(:hover) .delay-1 {
    transition-delay: 1s;
  }
  &:not(:hover) .delay-2 {
    transition-delay: 0.5s;
  }
  &:not(:hover) .delay-3 {
    transition-delay: 0.2s;
  }
  

}

.initial {
  opacity: 0;
  filter: brightness(0.6);
  transform: scale(0.8);
  transition: 
  opacity 0.6s ease,
  transform 0.6s ease,
  filter 0.6s ease;
  transition-delay: 0s;
}

.initial-text {
  opacity: 0.2;
  filter: brightness(0.2);
  transform: scale(0.8);
  transition: 
  opacity 0.6s ease,
  transform 0.6s ease,
  filter 0.6s ease;
  transition-delay: 0s;
}

.azul {
  color: inherit;
  transition: color 0.6s ease;
}

.animation:hover .azul {
  color: var(--blue-light)
}



.delay-1 {
  transition-delay: 0.4s;
  }
.delay-2 {
  transition-delay: 1s;
}
.delay-3 {
  transition-delay: 1.5s;
}


