header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: 1.25rem;
  margin-top: 1.25rem;

  
}
@media (min-width: 80rem) {
header {
  margin-inline: 10rem;
  margin-top: 3.5rem;
}
}