header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: auto;
  margin-top: 1.25rem;
  margin-bottom: 3rem;
  
  & img{
    width: 4rem;
  }
}
.logo-container {
display: flex;
justify-content: center;
}

@media (min-width: 80rem) {
header {
  margin-inline: 10rem;
  margin-top: 3.5rem;
}
}