#hero {
margin-inline: auto;
max-width: 23.5rem;
width: 100%;
height: 29rem;


background-image: url(../assets/hero-background.png);
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-blend-mode: multiply;

opacity: 0;
transform: translateY(0);
animation: appear 2s ease forwards;
animation-delay: 0.6s;

}

.hero-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 21rem;
  text-align: center;
  gap: 1rem;  
  margin-inline: auto;

  & h1, span {
  opacity: 0;
  transform: translateY(0px);
  animation: appear 2s ease forwards;
}


  & h1 {
    animation-delay: 0.8s;
  }

  & span {
    animation-delay: 1.5s;
  }

}

section {
  margin-top: 2.5rem;
  margin-inline: auto;
  margin-bottom: 6rem;
 

  & img[src*="opened"] {
    width: 2.5rem;
    height: 2.5rem;
    rotate: 20deg;
   
  }
  & img[src*="ouija"]{
    width: 2.5rem;
    height: 2.5rem;
    rotate: 90deg;
    
  }
  & img[src*="crystal"]{
    width: 2.5rem;
    height: 2.5rem;
    rotate: -10deg;
    
  }
  & > div {
    display: flex;
    justify-content: center;
  }
}

.section-container {
  max-width: 21rem;
  width: 100%;
  max-height: 5.5rem;
  margin-inline: auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  text-align: center;
  overflow: hidden;
}

.img-container {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1.27rem;
  
  & :nth-child(1){
    display: flex;
    
  }
  & :nth-child(2){
    display: flex;
  }
}





@media (min-width: 80rem) {
  #hero {
    min-width: 90rem;
    height: 59.25rem;
    background-size:cover;
    background-position: bottom;
    margin-top: 0;
  }
  
  .hero-container {
    max-width: 41rem;
    margin-top: 10.25rem;
    & span {
      padding: 3rem;
    }
  }

  section {
    max-width: 75rem;
    margin-top: 6rem;
    margin-bottom: 10rem;

   & img[src*="opened"] {
    width: 5.5rem;
    height: 5.5rem;
  }
  & img[src*="ouija"]{
    width: 4.5rem;
    height: 4.5rem;
  }
  & img[src*="crystal"]{
    width: 4.5rem;
    height: 4.5rem;
  }
}

  .section-container {
  max-width: 71rem;
  max-height: 8rem;
  padding: 0%;  
  }

}