section{
  display: flex;
  justify-content: center ;
  position: relative;

  animation: aparecer 3s;

}
.section-primary {
height: 29rem;  
max-width: 23.435rem;
width: 100%;

background-image: url(../assets/hero-background.png);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}

.container {
  width: 22.18rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  
  gap: 2rem;

 & > h1 {
  text-align: center;
 }
 & span {
  width: 20.93rem;
  text-align: center;
 }

}
section {
  animation: aparecer 7s ease;
}

section h1, section span {
  animation: aparecer-elemento 2s;
  animation-fill-mode: both;
  opacity: 0;
}

section h1 {
  animation-delay: 0.5s;
}

section span {
  animation-delay: 1s;
}



@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer-elemento {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 80rem) {
  .section-primary {
    max-width: 90rem;
    width: 100%;
    height: 59.25rem;
    background-position: top;

    
  }
  .container {
    width: 41rem;

    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
  


     & span {
  width: 34.85rem;
  text-align: center;
  margin-inline: auto;
 }

  }
}