.section-primary{
display: flex;
border: 1px solid yellow;
margin-top: 6.5rem;
}

.container-header{
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  align-items: center;
  & h2 {
    color: var(--text-title);
  }
}
.container-star {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  
  & svg {
     width: 2.5rem;
    height: 2.5rem;
  }

}


@media (min-width: 80rem) {

.section-primary{
border: 1px solid yellow;
margin-top: 15rem;
}

.container-star {
  gap:1rem;

    & svg {
     width: 4.5rem;
    height: 4.5rem;
  }
}

}