

.price-mensal {
  display: flex;
  flex-direction: column;

  border: 1px solid var(--shape-stroke);
  width: 17rem;
  height: 25rem;
  border-radius: 1.5rem;
  background-color: var(--shape-base);
  padding: 2rem 2rem 2rem 1.75rem;

  & a {
    color: var(--blue-light);
    margin-bottom: 1.25rem;
    margin-top: rem;
  }
  & h2 {
    
    color: var(--text-title);
  }
  
  & .total-price {
    display: inline;
    color: var(--text-label);
    margin-top: 0.5rem;
    margin-bottom: auto;
  }
  
}

ul li {
  position: relative;
  padding-left: 1.5rem;
}

ul li::before {
  content: "";
  background-image: url(../assets/Vector-ul.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  left: 0;
  top: 0;

}
