.section-primary{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  margin-top: 6.5rem;
  margin-bottom: 5.5rem;
}

.container-header{
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  align-items: center;
  & h2 {
    color: var(--text-title);
  }
}
.container-star {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  
  & svg {
    width: 2.5rem;
    height: 2.5rem;
  }

}

.animation-book {
  position: relative;
  gap: 1rem;
  width: 11rem;
  height: 13rem;

  margin-top: 8.4rem;
  margin-bottom: 10.6rem;
  
  align-self: center;
  
  
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(../assets/book.png);
    background-position: center;
    background-size: cover;
    z-index: 999;
  }


& figure {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
  transform-origin: left center;
  


 &:nth-of-type(1) {
  position: relative; 
    
  }
  &:nth-of-type(1) img {
  position: absolute;
  top: 4rem;
  left: 5rem;
}
  &:nth-of-type(1) span {
  position: absolute;
  top: 3rem;
  left: 2.5rem;
  width: 10rem;
}



  &:nth-of-type(2) {
  position: relative;
  
  }
  &:nth-of-type(2) img {
  position: absolute;
  bottom: 0;
  left: 1.375rem;
}
  &:nth-of-type(2) .arrow2 {
  position: absolute;
  bottom: 0;
  left: 0.5rem;
  bottom: 4.5rem;
}
 &:nth-of-type(2) span {
  position: absolute;
  bottom: 7.5rem;
  width: 10rem;
}



&:nth-of-type(3) {
  
  position: relative;

  }
  &:nth-of-type(3) img {
  position: absolute;
  bottom: 12px;
  
}
&:nth-of-type(4) {
  position: relative;

  }
  &:nth-of-type(4) img {
  position: absolute;
  bottom: 12px;
  right: 40px;
  z-index: -1;
}

&:nth-of-type(5) {
  position: relative;
  }

  &:nth-of-type(5) .arrow3 {
  position: absolute;
  bottom: 0;
  right: 2rem;
  bottom: 3rem;
}
 &:nth-of-type(5) span {
  position: absolute;
  bottom: 1.5rem;
  right: -1.5rem;
  width: 8rem;
  transform: scale(0.7);
}


   & img[src*="arrow1"]{
    width: 3.7rem;
    height: 0.62rem; 
  }

  & img[src*="arrow2"]{
    width: 2.2rem;
    height: 2.7rem; 
  }

   & img[src*="arrow3"]{
    width: 3.0625rem;
    height: 3.1875rem; 
  }
  
   & img[src*="pin"]{
    width: 4.7rem;
    height: 5.34rem; 
  }

  & img[src*="bookmark-yellow"]{
    width: 3.65rem;
    height: 10.3rem; 
  }
    & img[src*="bookmark-purple"]{
    width: 3.65rem;
    height: 10.3rem; 
  }


  &:nth-child(1){
    z-index: 5;
  }
  &:nth-child(2){
    z-index: 4;
  }
  &:nth-child(3){
    z-index: 3;
  }
  &:nth-child(4){
    z-index: 2;
  }
  &:nth-child(5){
    z-index: 1;
  }
  
}
}


@media (min-width: 80rem) {

.section-primary{
margin-top: 15rem;
}

.container-star {
  gap:1rem;

    & svg {
     width: 4.5rem;
    height: 4.5rem;
  }
}

.animation-book {
display: flex;
position: relative;
width: 29.2rem;
height: 38.5rem;
margin-top: 12.5rem;
margin-bottom: 28rem;


& figure {
  position: absolute;

 &:nth-of-type(1) {
  position: relative; 
    
  }
  &:nth-of-type(1) img {
  position: absolute;
  top: 5rem;
  left: 7.5rem;
}
  &:nth-of-type(1) span {
  position: absolute;
  top: 3rem;
  left: 3.5rem;
  width: 10rem;
}

  &:nth-of-type(2) .arrow2 {
  position: absolute;
  bottom: 0;
  left: -1.5rem;
  bottom: 13.5rem;
}
 &:nth-of-type(2) span {
  position: absolute;
  bottom: 22.5rem;
  left: -2rem;
}


&:nth-of-type(5) {
  position: relative;
  }

  &:nth-of-type(5) .arrow3 {
  position: absolute;
  bottom: 0;
  right: 2rem;
  bottom: 4rem;
}
 &:nth-of-type(5) span {
  position: absolute;
  bottom: 2.25rem;
  right: 5.5rem;
  width: 11.06rem;
  transform: scale(0.8);
}

  & img{
    width: 100%;
    height: 100%;
  }

  & img[src*="arrow1"]{
    width: 10.9rem;
    height: 1.9rem; 
  }
   & img[src*="arrow2"]{
    width: 6.5625rem;
    height: 8rem; 
  }

  & img[src*="arrow3"]{
    width: 9.1rem;
    height: 9.5rem; 
  }

   & img[src*="pin"]{
    width: 13.9rem;
    height: 15.9rem; 
  }

  & img[src*="bookmark-yellow"]{
    width: 10.75rem;
    height: 33.5rem; 
  }
    & img[src*="bookmark-purple"]{
    width: 10.75rem;
    height: 33.5rem; 
  }
}

}
}