.section-primary{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  border: 1px solid yellow;
  margin-top: 6.5rem;
  margin-bottom: 5.5rem;
}

.container-header{
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  align-items: center;
  & h2 {
    color: var(--text-title);
  }
}
.container-star {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  
  & svg {
     width: 2.5rem;
    height: 2.5rem;
  }

}

.animation-book {
  position: relative;
  gap: 1rem;
  width: 11rem;
  height: 13rem;
  margin-top: auto;
  margin-bottom: auto;
  align-self: center;
  
  /*
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(../assets/book.png);
    background-position: center;
    background-size: contain;
    z-index: 999;
  }
*/

& figure {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
  transform-origin: left center;


 &:nth-of-type(1) {
  position: relative;
  border: 1px solid yellow;
    
  }

  &:nth-of-type(1) img {
  position: absolute;
  top: 150px;
  left: 162px ;
}

  &:nth-of-type(2) {
  position: relative;
  
  }
  &:nth-of-type(2) img {
  position: absolute;
  bottom: 0;
  left: 22px;
}
&:nth-of-type(3) {
  
  position: relative;

  }
  &:nth-of-type(3) img {
  position: absolute;
  bottom: 12px;
  
}
&:nth-of-type(4) {
  position: relative;

  }
  &:nth-of-type(4) img {
  position: absolute;
  bottom: 12px;
  right: 40px;
  z-index: -1;
}


   & img[src*="arrow1"]{
    width: 3.7rem;
    height: 0.62rem; 
  }

   & img[src*="pin"]{
    width: 4.7rem;
    height: 5.34rem; 
  }

  & img[src*="bookmark-yellow"]{
    width: 3.65rem;
    height: 10.3rem; 
  }
    & img[src*="bookmark-purple"]{
    width: 3.65rem;
    height: 10.3rem; 
  }


  &:nth-child(1){
    z-index: 5;
  }
  &:nth-child(2){
    z-index: 4;
  }
  &:nth-child(3){
    z-index: 3;
  }
  &:nth-child(4){
    z-index: 2;
  }
  
}
}


@media (min-width: 80rem) {

.section-primary{
border: 1px solid yellow;
margin-top: 15rem;
}

.container-star {
  gap:1rem;

    & svg {
     width: 4.5rem;
    height: 4.5rem;
  }
}

.animation-book {
display: flex;
position: relative;
width: 29.2rem;
height: 38.5rem;


& figure {
  position: absolute;

  & img{
    width: 100%;
    height: 100%;
  }

  & img[src*="arrow1"]{
    width: 10.9rem;
    height: 0.9rem; 
  }

   & img[src*="pin"]{
    width: 13.9rem;
    height: 15.9rem; 
  }

  & img[src*="bookmark-yellow"]{
    width: 10.75rem;
    height: 33.5rem; 
  }
    & img[src*="bookmark-purple"]{
    width: 10.75rem;
    height: 33.5rem; 
  }
}

}
}